@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(244, 193, 207);
  --primary-dark: #f291ab;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-font: #070605;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

.p {
  margin-inline: 1lh;
}

@theme {
  --animate-movimientocinta: movimiento-cinta 17s linear infinite;
  --animate-movimientocintareversa: movimiento-cinta-reversa 17s linear infinite;

  --animate-movimientocinta-mobile: movimiento-cinta-mobile 13s linear infinite;
  --animate-movimientocintareversa-mobile: movimiento-cinta-reversa-mobile 13s linear infinite;

  --animate-movimientocinta-compu: movimiento-cinta-compu 50s linear infinite;
  --animate-movimientocintareversa-compu: movimiento-cinta-reversa-compu 50s linear infinite;


  --animate-swing: swing 2s linear infinite;

  @keyframes movimiento-cinta-compu {
    0% {
      transform: translateX(-90%);
    }

    50% {
      transform: translateX(121%);
    }

    100% {
      transform: translateX(-121%);
    }
  }

  @keyframes blob {
    0% {
      border-radius: 50%;
      transform: scale(1, 1);
    }

    30% {
      border-radius: 50% 50% 25% 25%;
      transform: scale(1.2, 0.8);
    }

    60% {
      border-radius: 25% 25% 50% 50%;
      transform: scale(0.8, 1.2);
    }

    100% {
      border-radius: 50%;
      transform: scale(1, 1);
    }
  }

  @keyframes movimiento-cinta-reversa-compu {
    0% {
      transform: translateX(121%);
    }

    50% {
      transform: translateX(-90%);
    }

    100% {
      transform: translateX(110%);
    }

  }



  @keyframes movimiento-cinta {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(120%);
    }

  }

  @keyframes movimiento-cinta-reversa {
    0% {
      transform: translateX(120%);
    }

    100% {
      transform: translateX(-100%);
    }

  }

  @keyframes movimiento-cinta-mobile {
    0% {
      transform: translateX(-165%);
    }

    100% {
      transform: translateX(100%);
    }

  }

  @keyframes movimiento-cinta-reversa-mobile {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-170%);
    }

  }


  @keyframes swing {
    0% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(-10deg)
    }

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: rgb(244, 193, 207);
    --primary: #f291ab;
  }
}


body {
  background: var(--primary);
  color: var(--primary-font);
  font-family: Arial, Helvetica, sans-serif;

}